* name gender 테이블 생성

In [1]:
%load_ext sql
%sql postgresql://four2qhrm:42Qhrm!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod

In [3]:
%%sql

CREATE TABLE four2qhrm.name_gender (
   name varchar(32),
   gender varchar(8)
);

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
Done.

[]

* ETL

In [2]:
import requests
import psycopg2

In [3]:
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "four2qhrm"
    redshift_pass = "42Qhrm!1"
    port = 5439
    dbname = "prod"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=False) # auto commit 설정 해제
    ##return conn.cursor()
    return conn;

* ETL Function 선언

In [4]:
def extract(link):
    f = requests.get(link)
    return (f.text)


def transform(text):
    lines = text.split("\n")
    return lines[1:]   # 헤더 제외한 text 리턴


def load(lines):
    conn = get_Redshift_connection()
    cur = conn.cursor()
    
    try:
        # 1. BEGIN 
        cur.execute("BEGIN")
        
        # 2. 테이블 데이터 삭제
        cur.execute("DELETE FROM four2qhrm.name_gender;")
    
        for r in lines:
            if r != '':
                (name, gender) = r.split(",")
                sql = "INSERT INTO four2qhrm.name_gender VALUES ('{name}', '{gender}')".format(name=name, gender=gender)
                ##print(sql)
                cur.execute(sql)
        
        # 2. COMMIT 
        
        cur.execute("END")
        
##conn.commit()
        
            
    except Exception as e:
        # 3. ERROR 나면 ROLLBACK
        conn.rollback()
        print('ERROR : ' + str(e))
    
    finally:
        if conn:
            cur.close()
            conn.close()

In [9]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)
lines = transform(data)
load(lines)

In [10]:
%%sql

select count(*) from four2qhrm.name_gender

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
1 rows affected.

[(100,)]

In [7]:
%%sql

delete from four2qhrm.name_gender

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
100 rows affected.

[]