In [2]:
%load_ext sql
%sql postgresql://four2qhrm:42Qhrm!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod

### Assignment - 2

* Gross Revenue가 가장 큰 UserID 10개 찾기

In [8]:
%%sql

SELECT B.userid, SUM(A.amount) AS gross_revenue
FROM raw_data.session_transaction A
LEFT JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY B.userid
ORDER BY 2 desc LIMIT 10

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

### Assignment - 3

* 채널별 월 매출액 테이블 만들기 (CTAS로)

In [15]:
%%sql

CREATE TABLE four2qhrm.monthly_channel_user_summary AS
SELECT TO_CHAR(s_time.ts, 'YYYY-MM') AS month, 
    usc.channel, 
    COUNT(DISTINCT usc.userid) as uniqueUsers,
    -- (paidsUsers / uniqueUsers) as conversionRate,
    SUM(amount) as grossRevenue,
    SUM(
        CASE s_trans.refunded 
        WHEN 'False' THEN s_trans.amount
        WHEN 'True' THEN 0 
        END
        ) as netRevenue
FROM raw_data.user_session_channel AS usc
LEFT JOIN raw_data.session_timestamp AS s_time on usc.sessionid = s_time.sessionid
LEFT JOIN raw_data.session_transaction AS s_trans on usc.sessionid = s_trans.sessionid
GROUP BY 1, 2

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
Done.

[]

In [38]:
%%sql

CREATE TEMP TABLE #temp_table1 AS
SELECT TO_CHAR(s_time.ts, 'YYYY-MM') AS month, 
    usc.channel, 
    COUNT(DISTINCT usc.userid) as uniqueUsers
FROM raw_data.user_session_channel AS usc
INNER JOIN raw_data.channel AS cha ON usc.channel = cha.channel
LEFT JOIN raw_data.session_timestamp AS s_time ON usc.sessionid = s_time.sessionid
GROUP BY 1, 2 
ORDER BY 1, 2;

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
Done.

[]

In [39]:
%%sql

CREATE TEMP TABLE #temp_table2 AS
SELECT TO_CHAR(s_time.ts, 'YYYY-MM') AS month, 
    usc.channel, 
    COUNT(DISTINCT usc.userid) as paidUsers,
    SUM(s_trans.amount) as grossRevenue,
    SUM(
        CASE s_trans.refunded 
        WHEN 'False' THEN s_trans.amount
        WHEN 'True' THEN 0 
        END
        ) as netRevenue
FROM raw_data.user_session_channel AS usc
INNER JOIN raw_data.channel AS cha ON usc.channel = cha.channel
INNER JOIN raw_data.session_transaction AS s_trans on usc.sessionid = s_trans.sessionid
LEFT JOIN raw_data.session_timestamp AS s_time on usc.sessionid = s_time.sessionid
GROUP BY 1, 2

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
Done.

[]

In [53]:
%%sql

CREATE TABLE four2qhrm.summary_table AS
select t1.month,
    t1.channel,
    t1.uniqueUsers,
    t2.paidUsers,
    convert(decimal(6,3),t2.paidUsers)/convert(decimal(6,3),t1.uniqueUsers) as conversionRate,
    t2.grossRevenue,
    t2.netRevenue
FROM #temp_table1 AS t1
LEFT JOIN #temp_table2 AS t2 ON t1.month = t2.month and t1.channel = t2.channel
ORDER BY 1, 2;

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
Done.

[]

In [54]:
%%sql

select * from four2qhrm.summary_table;

 * postgresql://four2qhrm:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod
42 rows affected.

[('2019-08', 'Facebook', 611, 18, Decimal('0.0294599'), 1009, 1009),
 ('2019-08', 'Google', 610, 28, Decimal('0.0459016'), 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, Decimal('0.0450885'), 2129, 2001),
 ('2019-08', 'Naver', 626, 22, Decimal('0.0351437'), 1829, 1551),
 ('2019-08', 'Organic', 608, 26, Decimal('0.0427631'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, Decimal('0.0293159'), 987, 950),
 ('2019-11', 'Facebook', 688, 26, Decimal('0.0377906'), 1678, 1678),
 ('2019-11', 'Google', 688, 26, Decimal('0.0377906'), 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, Decimal('0.0373692'), 2116, 2116),
 ('2019-11', 'Naver', 667, 26, Decimal('0.0389805'), 2234, 1987),
 ('2019-11', 'Organic', 677, 34, Decimal('0.0502215'), 2626, 2255),
 ('2019-11', 'Youtube', 677, 46, Decimal('0.0679468'), 3532, 3331),
 ('2019-05', 'Facebook', 247, 14, Decimal('0.0566801'), 1199, 997),
 ('2019-05', 'Google', 253, 10, Decimal('0.0395256'), 580, 580),
 ('2019-05', 'Instagram', 234, 11, Decimal('0.0470085'), 959, 770),
 ('2019-05', 'Naver', 237, 11, Decimal('0.0464135'), 867, 844),
 ('2019-05', 'Organic', 238, 17, Decimal('0.0714285'), 1846, 1571),
 ('2019-05', 'Youtube', 244, 10, Decimal('0.0409836'), 529, 529),
 ('2019-06', 'Facebook', 414, 22, Decimal('0.0531400'), 1578, 1578),
 ('2019-06', 'Google', 412, 13, Decimal('0.0315533'), 947, 947),
 ('2019-06', 'Instagram', 410, 21, Decimal('0.0512195'), 1462, 1418),
 ('2019-06', 'Naver', 398, 15, Decimal('0.0376884'), 1090, 1090),
 ('2019-06', 'Organic', 416, 14, Decimal('0.0336538'), 1129, 940),
 ('2019-06', 'Youtube', 400, 17, Decimal('0.0425000'), 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, Decimal('0.0573476'), 2222, 2144),
 ('2019-07', 'Google', 556, 21, Decimal('0.0377697'), 1558, 1385),
 ('2019-07', 'Instagram', 567, 25, Decimal('0.0440917'), 1896, 1766),
 ('2019-07', 'Naver', 553, 19, Decimal('0.0343580'), 1547, 1547),
 ('2019-07', 'Organic', 557, 24, Decimal('0.0430879'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, Decimal('0.0638297'), 2210, 2037),
 ('2019-09', 'Facebook', 597, 27, Decimal('0.0452261'), 2270, 2270),
 ('2019-09', 'Google', 599, 25, Decimal('0.0417362'), 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, Decimal('0.0340136'), 1260, 1122),
 ('2019-09', 'Naver', 592, 21, Decimal('0.0354729'), 1996, 1996),
 ('2019-09', 'Organic', 592, 23, Decimal('0.0388513'), 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, Decimal('0.0255102'), 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, Decimal('0.0415472'), 1650, 1641),
 ('2019-10', 'Google', 699, 30, Decimal('0.0429184'), 2150, 2098),
 ('2019-10', 'Instagram', 707, 34, Decimal('0.0480905'), 2568, 2395),
 ('2019-10', 'Naver', 713, 32, Decimal('0.0448807'), 2695, 2695),
 ('2019-10', 'Organic', 709, 31, Decimal('0.0437235'), 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, Decimal('0.0482269'), 2492, 2319)]